.grid {
  display: grid;
}

.gap2 {
  grid-gap: 0.5rem;
}

.gtc-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gtr-3 {
  grid-template-rows: repeat(3, 1fr);
}

.dense {
  grid-auto-flow: dense;
}

.span-c2 {
  grid-column: span 2;
}

.span-r2 {
  grid-row: span 2;
}
