.grid {
  display: grid;
}

.x {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center
}

.gap2 {
  grid-gap: 0.5rem;
}

.gtc-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gtr-3 {
  grid-template-rows: repeat(3, 1fr);
}

.dense {
  grid-auto-flow: dense;
}

.span-c2 {
  grid-column: span 2;
}

.span-r2 {
  grid-row: span 2;
}
